@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingeniería en Tecnologías de la Información - Loboteca</title>
    <link rel="stylesheet" href="~/css/Tecnologias/tecnologias.css">
</head>
<body>
    <!-- Barra de navegación -->
    <header>
        <nav class="navbar">
            <h1>TECNOLOGÍAS DE LA INFORMACIÓN</h1>
        </nav>

        <nav class="navbar2">
            <ul>
                <li><img src="~/images/libros_ama.png" alt="TroncoComun" class="TroncoComun"><a href="@Url.Action("TroncoComun", "TroncoComun")">Libros de Tronco Común</a></li>
                <li><img src="~/images/revistaE.png" alt="Revistas" class="Revistas"><a href="#revistas">Revistas</a></li>
                <li><img src="~/images/benergia.png" alt="Wiki" class="Wiki"><a href="@Url.Action("Search", "Wiki")">WikiSearch</a></li>
                <li><img src="~/images/senergia.png" alt="Suggestion" class="Suggestion"><a href="@Url.Action("Index", "Suggestion")">Sugerencias</a></li>
                <li><img src="~/images/login_ama.png" alt="Perfil" class="perfil"><a href="@Url.Action("Info_user", "Info_user")">Perfil</a></li>
            </ul>
        </nav>
    </header>

    
    <main>
        <section class="books-section">
            <div class="section-title">
                <h2>Libros</h2>
                <div class="carousel-container">
                    <button class="prev" onclick="moveCarousel(-1)">&#10094;</button>
                    <div class="carousel">
                        @foreach (var libro in ViewBag.LibrosRecientes)
                        {
                            <div class="book">
                                <a href="@libro.Archivo" target="_blank">
                                    <img src="@libro.RutaDeImagen" alt="@libro.Titulo">
                                </a>
                                <p class="available">@libro.Estado</p>
                            </div>
                        }
                    </div>
                    <button class="next" onclick="moveCarousel(1)">&#10095;</button>
                </div>
        </section>

        <!-- Sección de Revistas -->
        <section class="magazines-section" id="revistas">
            <div class="section-title">
                <h2>Revistas</h2>
                <div class="carousel-container">
                    <button class="prev" onclick="moveCarouselMagazines(-1)">&#10094;</button>
                    <div class="carousel">
                        @foreach (var revista in ViewBag.RevistasRecientes)
                        {
                            <div class="magazine">
                                <a href="@revista.Archivo" target="_blank">
                                    <img src="@revista.RutaDeImagen" alt="@revista.Titulo">
                                </a>
                                <p class="available">@revista.Estado</p>
                            </div>
                        }
                    </div>
                    <button class="next" onclick="moveCarouselMagazines(1)">&#10095;</button>
                </div>
            </div>
        </section>
    </main>

    <!-- Pie de página -->
    <footer>
        <p>&copy; Derechos Reservados Universidad Politécnica del Valle de Toluca</p>
        <div class="social-icons">
            <a href="#"><img src="~/images/facebook.png" alt="Facebook"></a>
            <a href="#"><img src="~/images/instagram.png" alt="Instagram"></a>
            <a href="#"><img src="~/images/email.png" alt="Correo"></a>
        </div>
    </footer>

    <script src="~/js/carrusel.js"></script>
    <script src="~/js/cerrar_se.js"></script>
</body>
</html>
